body {
  margin:0;
  font-family: Arial;
  background:#111;
  color:gold;
}

nav {
  padding:20px;
  background:black;
}

.hero {
  text-align:center;
  padding:100px;
}

button {
  background:gold;
  padding:15px;
  border:none;
  cursor:pointer;
  font-weight:bold;
  margin:5px;
}

.images img {
  width:45%;
  margin:10px;
  border-radius:10px;
}

.services {
  display:flex;
  justify-content:space-around;
  padding:50px;
}

.services div {
  background:black;
  padding:20px;
  border-radius:10px;
}

.contact {
  text-align:center;
  padding:50px;
}

input, textarea {
  display:block;
  margin:10px auto;
  padding:10px;
  width:50%;
  border-radius:5px;
  border:none;
}

a {
  color:gold;
  display:block;
  margin-top:10px;
  font-weight:bold;
}
